
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display : none !important;
}

html {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: rem-calc(54);
}

.link,
.button {
    cursor: pointer;
}

select,
input {
    font-size: rem-calc(16);
}

.mdl-textfield {
    input,
    label {
        font-size: 30px;
    }
}

.capitalize {
    text-transform: capitalize;
}
