
.main-search {
    padding-top: 30px;
    select {
        margin-top: 50px;
    }

    input {
        //margin-top: 50px;
        width: 100%;
    }
}

.search-container {
    margin-bottom: -29px;
}

.centro-container {
    margin-top: 50px;
}

label {
    font-size: 30px;
    color: rgba(0, 0, 0, .26);
}

#results-centros {
    li.selected {
        background: yellow;
    }
}

.filter-list li {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.filter-box {
    label,
    input[type=text] {
        color: #000;
        padding: 5px;
    }

    input[type=text] {
        min-width: 200px;
    }
    input {
        margin-left: 5px;
    }

    label {
        font-size: 16px;
        clear:both;
    }

}
