<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">
    <link rel="stylesheet" href="/main.css">

</head>
<body ng-app="drivingApp">

<div class="row">
    <div class="small-12 columns">
        <h1>Search Page [layout]</h1>

        <div ng-controller="AptosCtrl">
            <ul class="collection">
                <li ng-repeat="apto in aptos" class="collection-item ng-cloak" ng-cloak>
                    <div>Provincia: {{apto.desc_provincia}}</div>
                    <div>Autoescuela: {{apto.nombre_autoescuela}}</div>
                    <div>Tipo: {{apto.tipo_examen}}</div>
                    <div>Permiso: {{apto.nombre_permiso}}</div>
                    <div>Aptos: {{apto.num_aptos}}</div>
                    <div>1 Conv: {{apto.num_aptos_1conv}}</div>
                    <div>2 Conv: {{apto.num_aptos_2conv}}</div>
                    <div>3-4 Conv: {{apto.num_aptos_3o4conv}}</div>
                    <div>5+ Conv: {{apto.num_aptos_5_o_mas_conv}}</div>
                    <div>No Aptos: {{apto.num_no_aptos}}</div>
                    <div>Date: {{ apto.date | date: 'MMMM yyyy' }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script src="/front.js"></script>
<script src="/app.js"></script>
<script src="/main.js"></script>
</body>
</html>