<div class="row">
    <div class="small-12 columns">
        <h1>Search Page [ng]</h1>
        <ul class="collection">
            <li ng-repeat="apto in aptos" class="collection-item ng-cloak" ng-cloak>
                <div>Provincia: {{apto.desc_provincia}}</div>
                <div>Autoescuela: {{apto.nombre_autoescuela}}</div>
                <div>Tipo: {{apto.tipo_examen}}</div>
                <div>Permiso: {{apto.nombre_permiso}}</div>
                <div>Aptos: {{apto.num_aptos}}</div>
                <div>1 Conv: {{apto.num_aptos_1conv}}</div>
                <div>2 Conv: {{apto.num_aptos_2conv}}</div>
                <div>3-4 Conv: {{apto.num_aptos_3o4conv}}</div>
                <div>5+ Conv: {{apto.num_aptos_5_o_mas_conv}}</div>
                <div>No Aptos: {{apto.num_no_aptos}}</div>
                <div>Date: {{ apto.date | date: 'MMMM yyyy' }}</div>
            </li>
        </ul>
    </div>
</div>