<div class="row">
    <div class="small-12 columns">
        <h1>Rankings Page</h1>
        <h2>Results: {{aptos.length}}</h2>
        <table style="width:100%">
            <tr ng-repeat="apto in aptos" class="collection-item ng-cloak" ng-cloak>
                <td>{{apto.rank}}</td>
                <td>{{apto._id.codigo}}</td>
                <td>{{apto._id.nombre}}</td>
                <td>1 Conv: {{apto.conv_1}}</td>
                <td>2 Conv: {{apto.conv_2}}</td>
                <td>3o4 Conv: {{apto.conv_3o4}}</td>
                <td>5+ Conv: {{apto.conv_5omas}}</td>
                <td>No Aptos: {{apto.no_aptos}}</td>
                <td>Aptos: {{apto.num_aptos}}</td>
                <td>Pass: {{apto.passed}}</td>
                <td>Pass Rate: {{apto.passed_rate | number:0}}%</td>
            </tr>
        </table>
    </div>
</div>