<div class="row">
    <div class="small-12 columns">
        <h1>Centros</h1>

        <h2>Results: {{centros.length}}</h2>
        <ul class="collection">
            <li ng-repeat="centro in centros" class="collection-item ng-cloak" ng-cloak>
                <h3>{{centro.nombre}} : {{centro.provincia}}</h3>
            </li>
        </ul>
    </div>
</div>