<div class="row">
    <div class="small-12 columns">
        <h1>Escuelas</h1>

        <h2>Results: {{count}}</h2>
        <ul class="collection">
            <li ng-repeat="escuela in escuelas" class="collection-item ng-cloak" ng-cloak>
                <h3>{{escuela.nombre}} : "{{escuela.codigo}}"</h3>
            </li>
        </ul>
    </div>
</div>