<div class="row">
    <div class="small-12 columns">
        <h1>Provincias</h1>
        <h2>Results: {{provincias.length}}</h2>
        <ul class="collection">
            <li ng-repeat="item in provincias" class="collection-item ng-cloak" ng-cloak>
                <h3>{{item}}</h3>
            </li>
        </ul>
    </div>
</div>