<div class="row">
    <div class="small-12 columns">
        <div class="clearfix" style="padding:20px 0 0 0">
            <h1 class="left clearfix">{{params.provincia}}/{{params.centro_examen}}</h1>
            <div class="right">
                <a href="/search" class="button tiny secondary">
                    <span>Volver a Buscar</span>
                </a>
                <a class="button tiny secondary left" style="margin-right: 10px;" ng-click="toggleFilterInputs()" href="">Modificar de Filtros</a>
            </div>
        </div>
        <div style="margin:0 0 20px 0">Resultados: {{aptos.length}}</div>

        <div class="filter-box" ng-show="showFilterInputs">
            <form ng-submit="submitSearch()">
                <div class="row">
                    <div class="small-12 columns">
                        <label>Tipo de Examen:
                            <input ng-model="data.tipo_examen" type="text" class="large-6"/>
                        </label>
                        <label>Nombre de Permiso:
                            <input ng-model="data.nombre_permiso" type="text"/>
                        </label>
                        <label>Año:
                            <input ng-model="data.anyo" type="text"/>
                        </label>
                        <label>Primer Mes
                            <input ng-model="data.mes_a" type="text"/>
                        </label>
                        <label>Ultimo Mes
                            <input ng-model="data.mes_b" type="text"/>
                        </label>
                        <label>Minimo Numero de Aptos:
                            <input ng-model="data.min_aptos" type="text"/>
                        </label>
                        <label>Codigo de Autoescuela:
                            <input ng-model="data.codigo_autoescuela" type="text"/>
                        </label>
                        <label>Provincia:
                            <input ng-model="data.provincia" type="text"/>
                        </label>
                        <label>Centro de Examen:
                            <input ng-model="data.centro_examen" type="text"/>
                        </label>
                        <label>Maximo Numero de Resultados
                            <input ng-model="data.limit" type="text"/>
                        </label>
                    </div>
                </div>
                <input type="submit" class="button tiny radius" value="Buscar"/>
                <input type="button" ng-click="reloadRoute()" class="button tiny radius" value="Reiniciar"/>
                <input type="button" ng-click="toggleFilterInputs()" class="button tiny radius secondary" value="Cancelar"/>
            </form>
        </div>
        <strong>Filters:</strong>
        <ul class="inline-list filter-list">
            <li ng-repeat="(field, val) in niceParams"><span class="label radius secondary">{{field | friendlyCase}} : {{val | capitalize}}</span></li>
        </ul>
        <table style="width:100%">
            <tr>
                <th>Rango</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>1 Conv</th>
                <th>2 Conv</th>
                <th>3o4 Conv</th>
                <th>5+ Conv</th>
                <th>No Aptos</th>
                <th>Aptos</th>
                <th># Aprobados</th>
                <th>% Aprobados</th>
                <th># Datos</th>
            </tr>
            <tr ng-repeat="apto in aptos" class="collection-item ng-cloak" ng-cloak>
                <td>{{apto.rank}}</td>
                <td>{{apto._id.codigo}}</td>
                <td>{{apto._id.nombre | capitalize:true}}</td>
                <td>{{apto.conv_1}}</td>
                <td>{{apto.conv_2}}</td>
                <td>{{apto.conv_3o4}}</td>
                <td>{{apto.conv_5omas}}</td>
                <td>{{apto.no_aptos}}</td>
                <td>{{apto.num_aptos}}</td>
                <td>{{apto.passed}}</td>
                <td>{{apto.passed_rate | number:0}}%</td>
                <td>{{apto.count}}</td>
            </tr>
        </table>
    </div>
</div>