<div class="row">
    <div class="small-12 columns">
        <h1>Search Page</h1>

        <h2>Results: {{aptos.length}}</h2>
        <ul class="collection">
            <li ng-repeat="apto in aptos" class="collection-item ng-cloak" ng-cloak>
                <h3>{{apto.nombre_autoescuela}} <small>({{apto.codigo_autoescuela}})</small></h3>
                <div class="row">
                    <div class="medium-6 columns">
                        <div>Provincia: {{apto.desc_provincia | capitalize}}</div>
                        <div>Centro Examen: {{apto.centro_examen | capitalize}}</div>
                        <div>Codigo Section: {{apto.codigo_seccion}}</div>
                        <div>Tipo: {{apto.tipo_examen | capitalize}}</div>
                        <div>Permiso: {{apto.nombre_permiso | uppercase}}</div>
                        <div>Mes: {{ apto.mes }}</div>
                        <div>Año: {{ apto.anyo }}</div>
                    </div>
                    <div class="medium-6 columns">
                        <div>
                            Aptos: {{apto.num_aptos}}
                        </div>
                        <div>1 Conv: {{apto.num_aptos_1conv}}</div>
                        <div>2 Conv: {{apto.num_aptos_2conv}}</div>
                        <div>3-4 Conv: {{apto.num_aptos_3o4conv}}</div>
                        <div>5+ Conv: {{apto.num_aptos_5_o_mas_conv}}</div>
                        <div>No Aptos: {{apto.num_no_aptos}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>