<section class="main-search" search-page>
    <h1 class="text-center">Búsqueda de Autoescuela</h1>

    <div class="row">
        <div class="small-6 columns small-centered">
            <form ng-submit="submitSearch()">
                <div class="search-container">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input capitalize" autocomplete="off" type="text" id="search-provincia" ng-model="data.provincia" ng-change="searchProvincia()" ng-enter="selectProvincia()">
                        <label class="mdl-textfield__label" for="search-provincia">Provincia...</label>
                    </div>
                </div>
                <ul class="collection" id="results-provincia" ng-show="searchProvinciaEnabled">
                    <li ng-click="selectProvincia(item)" class="collection-item capitalize link" ng-repeat="item in provinciaMatches" data-val="{{item}}">{{item}}</li>
                </ul>

                <div class="centro-container" ng-show="centroEnabled" select-centro>
                    <label for="results-centros">Elegir Centro de Examen</label>
                    <ul class="collection" id="results-centros">
                        <li ng-click="selectCentro()" class="collection-item capitalize link" ng-repeat="item in centros" data-val="{{item}}">{{item}}</li>
                    </ul>
                </div>
                <div class="text-center">
                    <input type="submit" class="button large radius" ng-show="searchEnabled" value="Buscar"/>
                </div>
            </form>
        </div>
    </div>
</section>
